@import "./lib/confing";
@import "./lib/mixins";

body {
    margin: 0;
    padding: 0% 5%;
    font-family: $font;
    background: $grey-light-color;
}

header {
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

footer {
    width: 100%;
    background: $dark-color;
    padding: 1rem 0;
    color: $light-color;
    text-align: center;
}

// utility classes

.text-center {
    text-align: center;
}

a {
    text-transform: none;
    text-decoration: none;
    color: $primary-color;

    &:hover{
        color: $primary-color-hover;
    }
}

.btn {
    text-transform: none;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 3rem;
    margin: 1rem 0rem;
    border-radius: 50px;
    font-weight: bold;

    &-simple {
        color: $primary-color;
        
        &:hover{
            animation: $hover-effect;
        }
    }

    &-primary {
        background: $primary-color;
        color: $light-color;

        &:hover {
            animation: $hover-effect;
        }
    }

    &-outlined {
        border: 2px solid $primary-color;
        color: $primary-color;

        &:hover {
            animation: $hover-effect;
        }
    }
}

// .overlay {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background: radial-gradient(circle, rgba(2,0,36,0.3617822128851541) 0%, rgba(58,180,214,0.36738445378151263) 100%);
//     overflow: auto;
//     z-index: 1;
// }

.modal {
    position: absolute;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: radial-gradient(circle, rgba(2,0,36,0.3617822128851541) 0%, rgba(58,180,214,0.36738445378151263) 100%);

    .modal-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        background-color: #fefefe;
        margin: 10% auto;
        padding: 10px 0px;
        width: 70%;

        .modal-img {
            width: 50%;
            height: auto;
        }
    }
}

// utility classes

.search,
.logo,
.social {
    justify-self: center;
    align-self: center;
}

nav {
    display: none;
}

.slide{
    text-align: center;
    .showcase-img {
        max-width: 100%;
        height: auto;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .content {
        .arrows i{
            display: inline-block;
            padding: 20px 20px;
            border: 1px solid $grey-color;
            border-radius: 50%;
            margin: 15px 10px 0px;
            cursor: pointer;
            &:hover {
                color: $light-color;
                border: 1px solid $light-color;
                background: $primary-color;
                animation: $hover-effect;
            }
        }

        .category {
            font-size: 0.7rem;
            text-transform: uppercase;
            color: $primary-color;
        }

        .category h3::before {
            content: '↽ ';
        }

        .category h3::after{
            content: ' ⇁';
        }

        .author {
            font-size: 0.8rem;
            color: $grey-color;
        }
    }
}

.categories {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-column-gap: 10px;
    grid-template-rows: auto;
    grid-row-gap: 1rem;

    .item {
        position: relative;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;
        
        &:hover{
            animation: $hover-effect;
        }

        .item-img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
            border-radius: 10px;
        }

        .item-caption {
            color: $light-color;
            padding: 8rem 2rem 2rem;
            background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(0,0,0,1) 100%);
            border-radius: 10px;

            .item-title,
            .item-text {
                margin: 0;
            }

            .item-title {
                margin-bottom: 0.5rem;
            }

            .item-text {
                font-size: 0.7rem;
                color: $primary-color;
            }
        }
    }
}

hr {
    background: $grey-color;
    opacity: 0.1;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-column-gap: 50px;
    grid-template-rows: auto;
    grid-row-gap: 1rem;

    .card {
    /* Add shadows to create the "card" effect */
        background: $light-color;
        box-shadow: $shadow;
        border-radius: 10px;
        margin: 0 0 20px;

        .card-img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        .card-content {
            padding: 1rem;
        }
    }
}

@import "./lib/singlePost";

@import "./lib/medium";
@import "./lib/large";
@import "./lib/keyframes";